Repository VectorInstitute/FLorist: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-lint, prettier-js-format, doctest

nextjs-lint:
  name: nextjs-lint
  entry: yarn lint
  language: node
  additional_dependencies:
  - typescript

prettier-js-format:
  name: prettier-js-format
  entry: yarn prettier
  language: node
  additional_dependencies:
  - yarn
  - prettier

doctest:
  name: doctest
  entry: python3 -m doctest -o NORMALIZE_WHITESPACE
  language: system

fixing pesky mypy issues with new version of torch
  florist/api/clients/clients.py
  florist/api/clients/optimizers.py
Due: doctest

Deploying to github_pages from @ VectorInstitute/FLorist@7804693e6224c63dc1f3befbca98a833d5acdb99 🚀
  _modules/florist/api/clients/clients.html
  _modules/florist/api/clients/optimizers.html
  reference/api/florist.api.clients.optimizers.html
Due: none

Removing the log line that tells the metrics are not being dumped so we don't spam the logs.
  florist/api/monitoring/metrics.py
Due: doctest

Removing the log line that tells the metrics are not being dumped so we don't spam the logs. (#179)
  florist/api/monitoring/metrics.py
Due: doctest

Deploying to github_pages from @ VectorInstitute/FLorist@5dd285ff4e7e35adece2a3622ba00516e9257318 🚀
  _modules/florist/api/monitoring/metrics.html
Due: none

adding pip audit ignores
  .github/workflows/static_code_checks.yaml
Due: none

WIP not quite working
  florist/api/auth/__init__.py
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/db/server_entities.py
  florist/api/server.py
  poetry.lock
  pyproject.toml
Due: doctest

WIP generally working now, need ot work on hashing
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/server.py
Due: doctest

Now working with double hashing :)
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/db/server_entities.py
  florist/api/server.py
Due: doctest

Small refactorings and a fix
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/server.py
  package.json
  yarn.lock
Due: doctest

moving auth to its own route
  florist/api/routes/server/auth.py
  florist/api/server.py
Due: doctest

Making client auth route, adding hashed password to the client and to the UI, adding the client tokens app attribute and the get_client_token function
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/server_entities.py
  florist/api/routes/client/__init__.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/api/server.py
  florist/app/jobs/definitions.tsx
  florist/app/jobs/edit/page.tsx
Due: nextjs-lint, doctest

Client auth done, fixed unit tests
  florist/api/client.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/api/routes/server/job.py
  florist/api/routes/server/training.py
  florist/tests/unit/api/routes/server/test_job.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/api/test_client.py
  florist/tests/unit/app/jobs/edit/page.test.tsx
Due: nextjs-lint, doctest

Starting the login page
  florist/app/(root)/jobs/definitions.tsx
  florist/app/(root)/jobs/details/page.tsx
  florist/app/(root)/jobs/edit/page.tsx
  florist/app/(root)/jobs/hooks.tsx
  florist/app/(root)/jobs/page.tsx
  florist/app/(root)/layout.tsx
  florist/app/(root)/page.tsx
  florist/app/(root)/sidebar.tsx
  florist/app/assets/css/florist.css
  florist/app/login/layout.tsx
  florist/app/login/page.tsx
  florist/tests/unit/app/jobs/details/page.test.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  florist/tests/unit/app/jobs/page.test.tsx
  florist/tests/unit/app/page.test.tsx
Due: nextjs-lint

Login form submit working
  florist/app/(root)/jobs/edit/page.tsx
  florist/app/(root)/jobs/hooks.tsx
  florist/app/(root)/jobs/page.tsx
  florist/app/assets/css/florist.css
  florist/app/hooks.tsx
  florist/app/login/page.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  florist/tests/unit/app/jobs/page.test.tsx
Due: nextjs-lint

Saving the token and redirecting the user
  florist/api/routes/server/auth.py
  florist/app/assets/css/florist.css
  florist/app/assets/js/material-dashboard.js
  florist/app/hooks.tsx
  florist/app/login/layout.tsx
  florist/app/login/page.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  yarn.lock
Due: nextjs-lint, prettier-js-format, doctest

forgot to submit package json
  package.json
Due: none

checking the token on the sidebar
  florist/api/routes/server/auth.py
  florist/app/(root)/jobs/hooks.tsx
  florist/app/(root)/sidebar.tsx
  florist/app/client_imports.tsx
  florist/app/hooks.tsx
  florist/app/login/page.tsx
  package.json
  yarn.lock
Due: nextjs-lint, doctest

Redirect to login on 401, enabling auth in all calls
  florist/api/client.py
  florist/api/routes/server/auth.py
  florist/api/routes/server/job.py
  florist/api/routes/server/status.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/app/(root)/jobs/hooks.tsx
  florist/app/(root)/sidebar.tsx
  florist/app/assets/css/florist.css
  florist/app/auth.tsx
  florist/app/client_imports.tsx
  florist/app/hooks.tsx
  florist/app/login/page.tsx
  florist/tests/unit/api/test_client.py
Due: nextjs-lint, doctest

Done with most of it, needs tests
  florist/api/client.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/api/routes/server/job.py
  florist/api/routes/server/status.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/app/client_imports.tsx
  florist/app/hooks.tsx
Due: nextjs-lint, doctest

Fixed unit tests, added token tests
  florist/api/auth/token.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/tests/integration/api/auth/test_token.py
  florist/tests/integration/api/db/test_server_entities.py
  florist/tests/integration/api/routes/server/test_job.py
  florist/tests/integration/api/test_train.py
  florist/tests/integration/api/utils.py
  florist/tests/unit/api/auth/test_token.py
Due: doctest

More tests
  florist/api/client.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/tests/integration/api/db/test_client_entities.py
  florist/tests/integration/api/db/test_server_entities.py
  florist/tests/integration/api/routes/client/test_auth.py
Due: doctest

Adding test for auth
  florist/api/routes/server/auth.py
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
Due: doctest

Starting to implement front end tests
  florist/app/(root)/jobs/hooks.tsx
  florist/app/auth.tsx
  florist/app/login/page.tsx
  florist/tests/integration/api/test_client.py
  florist/tests/integration/api/test_server.py
  florist/tests/unit/app/(root)/jobs/details/page.test.tsx
  florist/tests/unit/app/(root)/jobs/edit/page.test.tsx
  florist/tests/unit/app/(root)/jobs/page.test.tsx
  florist/tests/unit/app/(root)/page.test.tsx
  florist/tests/unit/app/login/page.test.tsx
Due: nextjs-lint

Finished front end tests
  florist/tests/unit/app/(root)/jobs/edit/page.test.tsx
  florist/tests/unit/app/login/page.test.tsx
Due: nextjs-lint

adding test for expired token
  florist/tests/unit/api/auth/test_token.py
Due: none

Adding warning to the hash function
  florist/api/auth/token.py
  florist/app/(root)/jobs/edit/page.tsx
Due: nextjs-lint, doctest

Obscuring the client hashed password returned by the back end, fixing a couple of front end bugs
  florist/api/db/server_entities.py
  florist/api/routes/server/job.py
  florist/app/(root)/jobs/hooks.tsx
  florist/app/hooks.tsx
  florist/tests/integration/api/auth/__init__.py
  florist/tests/integration/api/routes/client/__init__.py
  florist/tests/integration/api/routes/server/test_job.py
Due: nextjs-lint, doctest

better return statement on check token functions
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
Due: doctest

small code cleanup
  florist/app/auth.tsx
  florist/app/login/layout.tsx
Due: nextjs-lint

CR by David
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/api/routes/server/job.py
  florist/api/routes/server/status.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
  florist/tests/unit/api/auth/test_token.py
Due: doctest

implementing change password screens and endpoints on both client and server
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/app/assets/css/florist.css
  florist/app/assets/static/client-login/confirmation.html
  florist/app/assets/static/client-login/index.html
  florist/app/hooks.tsx
  florist/app/login/change-password/page.tsx
  florist/app/login/page.tsx
Due: nextjs-lint, doctest

Fixed integration tests
  README.md
  florist/api/db/client_entities.py
  florist/api/db/config.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
  florist/tests/integration/api/routes/server/test_job.py
  florist/tests/integration/api/test_client.py
  florist/tests/integration/api/test_server.py
  florist/tests/integration/api/test_train.py
  florist/tests/integration/api/utils.py
  florist/tests/unit/api/routes/server/test_training.py
Due: doctest

Finished with tests
  florist/api/auth/token.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/app/login/change-password/page.tsx
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
  florist/tests/unit/app/login/change-password/page.test.tsx
  florist/tests/unit/app/login/page.test.tsx
Due: nextjs-lint, doctest

Upgrading tornado to address vulnerability. Upgrading fl4health to latest. Fixing some small issues
  .pre-commit-config.yaml
  florist/tests/unit/api/auth/test_token.py
  poetry.lock
  pyproject.toml
Due: none

Fixing some issues with the new version
  florist/api/client.py
  florist/api/servers/strategies.py
  florist/tests/unit/api/servers/test_strategies.py
  florist/tests/unit/api/test_client.py
Due: doctest

Tornado Vulnerability Fix (#193)
  .pre-commit-config.yaml
  florist/api/client.py
  florist/api/servers/strategies.py
  florist/tests/unit/api/auth/test_token.py
  florist/tests/unit/api/servers/test_strategies.py
  florist/tests/unit/api/test_client.py
  poetry.lock
  pyproject.toml
Due: doctest

Path conditions:
  nextjs-lint: any file but: ^[^.]+$|\.(?!(tsx)$)([^.]+$)
  prettier-js-format: any of: (florist/app|florist/tests/unit/app) and \.(js|mjs|cjs)$
  doctest: any of: (^florist/api/|florist/tests/api/)
