Repository VectorInstitute/FLorist: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-lint, prettier-js-format, doctest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: check-builtin-literals
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.7'
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      types_or: [python, jupyter]
    - id: ruff-format
      types_or: [python, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      entry: python3 -m mypy --config-file pyproject.toml
      language: system
      types: [python]
      exclude: "florist/tests/"

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-ruff
      args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: nextjs-lint
        name: nextjs-lint
        entry: yarn lint
        language: node
        additional_dependencies:
          - typescript
        exclude: ^[^.]+$|\.(?!(tsx)$)([^.]+$)  # excludes everything but .tsx files

  - repo: local
    hooks:
      - id: prettier-js-format
        name: prettier-js-format
        entry: yarn prettier
        files: "(florist/app|florist/tests/unit/app)"
        language: node
        types: [javascript]
        additional_dependencies:
          - yarn
          - prettier

  - repo: local
    hooks:
    - id: doctest
      name: doctest
      entry: python3 -m doctest -o NORMALIZE_WHITESPACE
      files: "(^florist/api/|florist/tests/api/)"
      language: system

  - repo: local
    hooks:
    - id: pytest-unit
      name: pytest-unit
      entry: python -m pytest florist/tests/unit
      language: system
      pass_filenames: false
      always_run: true

  - repo: local
    hooks:
      - id: nextjs-unit
        name: nextjs-unit
        entry: yarn unit-test
        language: system
        pass_filenames: false
        always_run: true

ci:
    autofix_commit_msg: |
        [pre-commit.ci] Add auto fixes from pre-commit.com hooks
        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: [pytest-unit,nextjs-unit,doctest,mypy,nextjs-lint]
    submodules: false

Adding the freezegun fix to other tests that use freezegun
  florist/tests/unit/api/auth/test_token.py
  florist/tests/unit/api/monitoring/test_metrics.py
  florist/tests/unit/api/routes/server/test_job.py
Due: none

CR by David
  README.md
  florist/api/auth/token.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
Due: doctest

Upgrading redis
  poetry.lock
  pyproject.toml
Due: none

fixing mypy issue with new redis code
  florist/api/monitoring/metrics.py
Due: doctest

Fixing tests
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
Due: none

Deploying to github_pages from @ VectorInstitute/FLorist@8e5786e760dcfadf8152d34b3f2f93ceaeccdfc7 🚀
  _modules/florist/api/monitoring/metrics.html
Due: none

Authentication with JWT, Part 2: Changing the default password (#190)
  README.md
  florist/api/auth/token.py
  florist/api/client.py
  florist/api/db/client_entities.py
  florist/api/db/config.py
  florist/api/routes/client/auth.py
  florist/api/routes/server/auth.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/app/assets/css/florist.css
  florist/app/assets/static/client-login/confirmation.html
  florist/app/assets/static/client-login/index.html
  florist/app/hooks.tsx
  florist/app/login/change-password/page.tsx
  florist/app/login/page.tsx
  florist/tests/integration/api/routes/client/test_auth.py
  florist/tests/integration/api/routes/server/test_auth.py
  florist/tests/integration/api/routes/server/test_job.py
  florist/tests/integration/api/test_client.py
  florist/tests/integration/api/test_server.py
  florist/tests/integration/api/test_train.py
  florist/tests/integration/api/utils.py
  florist/tests/unit/api/auth/test_token.py
  florist/tests/unit/api/monitoring/test_metrics.py
  florist/tests/unit/api/routes/server/test_job.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/app/login/change-password/page.test.tsx
  florist/tests/unit/app/login/page.test.tsx
Due: nextjs-lint, doctest

Fixing small front end bug, need to check if password confirmation matches the new password on the client's change password form
  florist/app/assets/static/client-login/index.html
Due: none

Fixing small front end bug, need to check if password confirmation matches the new password on the client's change password form (#196)
  florist/app/assets/static/client-login/index.html
Due: none

Update jupyter-core to version 5.8.1 in poetry.lock
  poetry.lock
Due: none

Update requests package to version 2.32.4 in poetry.lock
  poetry.lock
Due: none

Adding hash functions
  florist/api/db/client_entities.py
  florist/api/monitoring/metrics.py
  florist/api/servers/strategies.py
Due: doctest

Updating pip-audit ignores
  .github/workflows/static_code_checks.yaml
Due: none

Deploying to github_pages from @ VectorInstitute/FLorist@e737b0431b7fab76246148836d86c135ccbba288 🚀
  _modules/florist/api/db/client_entities.html
  _modules/florist/api/monitoring/metrics.html
  _modules/florist/api/servers/strategies.html
Due: none

Client docker working
  .dockerignore
  Dockerfile.client
  Dockerfile.server
  README.md
Due: none

Server docker file and docker compose
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose-server.yaml
Due: none

Changing the compose files to use the uploaded images
  docker-compose-client.yaml
  docker-compose-server.yaml
Due: none

Updating README
  README.md
Due: none

Updating the contributing file
  CONTRIBUTING.md
Due: none

CR by David
  CONTRIBUTING.md
  Dockerfile.server
  README.md
Due: none

Ignoring one more pytorch security issue
  .github/workflows/static_code_checks.yaml
Due: none

Packaging the app into Docker images (#205)
  .dockerignore
  .github/workflows/static_code_checks.yaml
  CONTRIBUTING.md
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose-client.yaml
  docker-compose-server.yaml
  florist/api/db/client_entities.py
  florist/api/db/config.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/tests/integration/api/utils.py
  florist/tests/unit/api/routes/server/test_training.py
Due: doctest

Deploying to github_pages from @ VectorInstitute/FLorist@1118f6a031ac2c1a55e64e4655d9e11f52bcf462 🚀
  _modules/florist/api/db/client_entities.html
  _modules/florist/api/db/config.html
  _modules/florist/api/routes/server/training.html
  _modules/florist/api/server.html
  _modules/florist/tests/integration/api/utils.html
  _modules/florist/tests/unit/api/routes/server/test_training.html
  genindex.html
  objects.inv
  reference/api/florist.api.db.config.html
  reference/api/florist.api.db.html
  searchindex.js
Due: none

chore: relocate servers exception definition to exception.py for clarity
  florist/api/servers/config_parsers.py
  florist/api/servers/exception.py
  florist/tests/unit/api/servers/test_config_parsers.py
Due: doctest

fix: trailing comma in import
  florist/tests/unit/api/servers/test_config_parsers.py
Due: none

style: D400 ruff exception, end in period
  florist/api/servers/exception.py
Due: doctest

chore: address reviewer suggestions in exceptions module
  florist/api/servers/config_parsers.py
  florist/api/servers/exceptions.py
  florist/tests/unit/api/servers/test_config_parsers.py
Due: doctest

Skipping 1 starlette pip-audit issue that can't be patched because of fastapi
  .github/workflows/static_code_checks.yaml
Due: none

Skipping 1 starlette pip-audit issue that can't be patched because of fastapi (#211)
  .github/workflows/static_code_checks.yaml
Due: none

Adding the vulnerability to git ignore
  .github/workflows/static_code_checks.yaml
Due: none

Updating list of pip audit ignores
  .github/workflows/static_code_checks.yaml
Due: none

Ignoring future vulnerability
  .github/workflows/static_code_checks.yaml
Due: none

Update static code checks to ignore additional MONAI vulnerabilities that have no fix version
  .github/workflows/static_code_checks.yaml
Due: none

Update static code checks to ignore additional MONAI vulnerabilities that have no fix version (#222)
  .github/workflows/static_code_checks.yaml
Due: none

Upgrading pip to 25.2
  poetry.lock
Due: none

Fixes to pip audit
  .github/workflows/static_code_checks.yaml
  poetry.lock
Due: none

Fixes to pip audit (#228)
  .github/workflows/static_code_checks.yaml
  poetry.lock
Due: none

Updating dependencies and pip-audit ignores
  .github/workflows/static_code_checks.yaml
  poetry.lock
  pyproject.toml
Due: none

Updating dependencies and pip-audit ignores (#233)
  .github/workflows/static_code_checks.yaml
  poetry.lock
  pyproject.toml
Due: none
