Repository VectorInstitute/FLorist: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-lint, prettier-js-format, doctest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: check-builtin-literals
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.7'
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      types_or: [python, jupyter]
    - id: ruff-format
      types_or: [python, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      entry: python3 -m mypy --config-file pyproject.toml
      language: system
      types: [python]
      exclude: "florist/tests/"

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-ruff
      args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: nextjs-lint
        name: nextjs-lint
        entry: yarn lint
        language: node
        additional_dependencies:
          - typescript
        exclude: ^[^.]+$|\.(?!(tsx)$)([^.]+$)  # excludes everything but .tsx files

  - repo: local
    hooks:
      - id: prettier-js-format
        name: prettier-js-format
        entry: yarn prettier
        files: "(florist/app|florist/tests/unit/app)"
        language: node
        types: [javascript]
        additional_dependencies:
          - yarn
          - prettier

  - repo: local
    hooks:
    - id: doctest
      name: doctest
      entry: python3 -m doctest -o NORMALIZE_WHITESPACE
      files: "(^florist/api/|florist/tests/api/)"
      language: system

  - repo: local
    hooks:
    - id: pytest-unit
      name: pytest-unit
      entry: python -m pytest florist/tests/unit
      language: system
      pass_filenames: false
      always_run: true

  - repo: local
    hooks:
      - id: nextjs-unit
        name: nextjs-unit
        entry: yarn unit-test
        language: system
        pass_filenames: false
        always_run: true

ci:
    autofix_commit_msg: |
        [pre-commit.ci] Add auto fixes from pre-commit.com hooks
        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: [pytest-unit,nextjs-unit,doctest,mypy,nextjs-lint]
    submodules: false

Fixing ruff and mypy issues
  florist/api/client.py
  florist/api/clients/clients.py
  florist/api/clients/enum.py
  florist/api/clients/optimizers.py
  florist/api/db/server_entities.py
  florist/api/models/abstract.py
  florist/api/models/mnist.py
  florist/api/models/models.py
  florist/api/monitoring/metrics.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/api/servers/strategies.py
  florist/app/assets/css/florist.css
  florist/tests/integration/api/db/test_server_entities.py
  florist/tests/integration/api/routes/server/test_job.py
  florist/tests/integration/api/test_server.py
  florist/tests/integration/api/test_train.py
  florist/tests/unit/api/clients/test_client_enum.py
  florist/tests/unit/api/clients/test_clients.py
  florist/tests/unit/api/models/test_models_enum.py
  florist/tests/unit/api/routes/server/test_job.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/api/servers/test_strategies.py
  florist/tests/unit/api/test_client.py
Due: doctest

Covering test holes in python
  florist/tests/unit/api/clients/test_clients.py
  florist/tests/unit/api/clients/test_optimizers.py
  florist/tests/unit/api/models/test_mnist.py
  florist/tests/unit/api/models/test_models.py
  florist/tests/unit/api/monitoring/test_metrics.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/api/test_client.py
Due: none

Finishing front end tests
  florist/app/jobs/edit/page.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  florist/tests/unit/app/jobs/page.test.tsx
Due: nextjs-lint

Upgrading FL4Health to 0.3
  florist/api/launchers/local.py
  florist/api/servers/models.py
  florist/api/servers/strategies.py
  florist/tests/unit/api/servers/test_models.py
  florist/tests/unit/api/servers/test_strategies.py
  poetry.lock
  pyproject.toml
Due: doctest

Deleting files I forgot to delete
  florist/api/servers/models.py
  florist/tests/unit/api/servers/test_models.py
Due: doctest

Adding accuracy metric to the client
  florist/api/client.py
  florist/tests/unit/api/test_client.py
Due: doctest

Adding accuracy metric to the client (#167)
  florist/api/client.py
  florist/tests/unit/api/test_client.py
Due: doctest

Deploying to github_pages from @ VectorInstitute/FLorist@76fc634e3a3996bd02f38d59ea7cd04ab105256f 🚀
  _modules/florist/api/client.html
  _modules/florist/tests/unit/api/test_client.html
Due: none

CR by David
  .gitignore
  florist/api/client.py
  florist/api/clients/clients.py
  florist/api/launchers/local.py
  florist/api/models/abstract.py
  florist/api/monitoring/metrics.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/api/servers/strategies.py
  florist/tests/integration/api/db/test_server_entities.py
  florist/tests/unit/api/launchers/test_local.py
  florist/tests/unit/api/monitoring/test_metrics.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/api/servers/test_strategies.py
  florist/tests/unit/api/test_client.py
Due: doctest

Revert "CR by David"
  .gitignore
  florist/api/client.py
  florist/api/clients/clients.py
  florist/api/launchers/local.py
  florist/api/models/abstract.py
  florist/api/monitoring/metrics.py
  florist/api/routes/server/training.py
  florist/api/server.py
  florist/api/servers/strategies.py
  florist/tests/integration/api/db/test_server_entities.py
  florist/tests/unit/api/launchers/test_local.py
  florist/tests/unit/api/monitoring/test_metrics.py
  florist/tests/unit/api/routes/server/test_training.py
  florist/tests/unit/api/servers/test_strategies.py
  florist/tests/unit/api/test_client.py
Due: doctest

small typo
  florist/api/servers/strategies.py
Due: doctest

More changes to class methos into instance methods
  florist/api/client.py
  florist/api/clients/clients.py
  florist/api/models/models.py
  florist/api/routes/server/training.py
  florist/tests/unit/api/clients/test_clients.py
  florist/tests/unit/api/models/test_models.py
  florist/tests/unit/api/test_client.py
Due: doctest

Revert "More changes to class methos into instance methods"
  florist/api/client.py
  florist/api/clients/clients.py
  florist/api/models/models.py
  florist/api/routes/server/training.py
  florist/tests/unit/api/clients/test_clients.py
  florist/tests/unit/api/models/test_models.py
  florist/tests/unit/api/test_client.py
Due: doctest

Minor changes, addressing one more comment
  florist/api/servers/strategies.py
  florist/tests/unit/api/test_client.py
Due: doctest

WIP fixing type issues
  florist/app/jobs/details/page.tsx
  florist/app/jobs/hooks.tsx
Due: nextjs-lint

fixing lint in details page
  florist/app/jobs/definitions.tsx
  florist/app/jobs/details/page.tsx
  florist/app/jobs/edit/page.tsx
  florist/tests/unit/app/jobs/details/page.test.tsx
Due: nextjs-lint

fixing edit page
  florist/app/jobs/definitions.tsx
  florist/app/jobs/details/page.tsx
  florist/app/jobs/edit/page.tsx
  florist/app/jobs/page.tsx
  package.json
  yarn.lock
Due: nextjs-lint

fininsh changing the other tsx files
  florist/app/client_imports.tsx
  florist/app/jobs/definitions.tsx
  florist/app/jobs/details/page.tsx
  florist/app/jobs/hooks.tsx
  florist/app/jobs/page.tsx
  florist/app/layout.tsx
  florist/app/page.tsx
  florist/app/sidebar.tsx
Due: nextjs-lint

removing elapsed time from metrics in the UI because the calculated time is more precise
  florist/app/jobs/details/page.tsx
Due: nextjs-lint

Fixing precommit config to use venv
  .pre-commit-config.yaml
Due: none

testing
  .pre-commit-config.yaml
Due: none

Reverting bad change, changing instructions in the CONTRIBUTING.md file as well.
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

CR by David
  florist/api/servers/strategies.py
Due: doctest

Upgrading FL4Health to 0.3 (#165)
  florist/api/launchers/local.py
  florist/api/servers/strategies.py
  florist/tests/unit/api/servers/test_strategies.py
  poetry.lock
  pyproject.toml
Due: doctest

Deploying to github_pages from @ VectorInstitute/FLorist@b1265dbb50859241cddbb17c74d4639418520041 🚀
  _modules/florist/api/launchers/local.html
  _modules/florist/api/servers/strategies.html
  _modules/florist/tests/unit/api/servers/test_strategies.html
  reference/api/florist.api.clients.clients.html
  searchindex.js
Due: none

UI fixes (#171)
  florist/app/client_imports.tsx
  florist/app/jobs/definitions.tsx
  florist/app/jobs/details/page.tsx
  florist/app/jobs/edit/page.tsx
  florist/app/jobs/hooks.tsx
  florist/app/jobs/page.tsx
  florist/app/layout.tsx
  florist/app/page.tsx
  florist/app/sidebar.tsx
  florist/tests/unit/app/jobs/details/page.test.tsx
  package.json
  yarn.lock
Due: nextjs-lint

Fixing elapsed times (#172)
  florist/app/jobs/details/page.tsx
Due: nextjs-lint

Refetching data for in progress jobs + minor refactoring
  florist/app/jobs/definitions.tsx
  florist/app/jobs/hooks.tsx
  florist/app/jobs/page.tsx
Due: nextjs-lint

small comment clarification
  florist/app/jobs/hooks.tsx
Due: nextjs-lint

Add an automatic refetching of data on job details page for in progress jobs (#175)
  florist/app/jobs/definitions.tsx
  florist/app/jobs/hooks.tsx
  florist/app/jobs/page.tsx
Due: nextjs-lint

Adding content to the home page + some test fixes
  .pre-commit-config.yaml
  florist/app/assets/css/florist.css
  florist/app/page.tsx
  florist/tests/unit/app/jobs/details/page.test.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  florist/tests/unit/app/jobs/page.test.tsx
  florist/tests/unit/app/page.test.tsx
  florist/tsconfig.json
  package.json
  yarn.lock
Due: nextjs-lint

Adding content to the home page + some test fixes (#176)
  .pre-commit-config.yaml
  florist/app/assets/css/florist.css
  florist/app/page.tsx
  florist/tests/unit/app/jobs/details/page.test.tsx
  florist/tests/unit/app/jobs/edit/page.test.tsx
  florist/tests/unit/app/jobs/page.test.tsx
  florist/tests/unit/app/page.test.tsx
  florist/tsconfig.json
  package.json
  yarn.lock
Due: nextjs-lint

upgrading batchgenerators to see if the error goes away
  poetry.lock
Due: none

trying to fix the unit test workflow
  .github/workflows/unit_tests.yaml
Due: none

making the same change for all the other workflows
  .github/workflows/docs_build.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/integration_tests.yaml
  .github/workflows/publish.yml
  .github/workflows/static_code_checks.yaml
  .github/workflows/unit_tests.yaml
Due: none

upgrading torchvision and torch
  poetry.lock
  pyproject.toml
Due: none
